<% if @sources == [] %>
    <p>Please add a source to begin.</p>
  <% else %>
    <% @sources.each do |source| %>
      <%= link_to(source.title, "source/" + source.id.to_s) %>
      <br>
      <%= "&nbsp -- Comments: #{source.comments}" if source.comments != "" %>
  <% end %>
<% end %>
