<div class="jumbotron span10">
  <h1>Welcome to SciSci!</h1>
  <p>SciSci is a new way to organize research. Rather than focusing on sources and notes, it allows you to organize your research by tags. Focus on content, not on where it came from.</p>
  <div class="row">
    <a href="/signup" class="col-lg-2 offset1 btn btn-primary btn-lg" >Sign Up!</a>
    <h5 class="col-sm-5 offset2">Sign up today for free access through Fall Semester 2013, then just $5 a semester after that!</h5>
  </div>
</div>
<iframe style="margin-left: 20%;" width="420" height="315" src="//www.youtube.com/embed/rngig76rrQU" frameborder="0" allowfullscreen></iframe>
<div class="row-fluid">
  <div class="col-lg-4">
    <h2> What is SciSci?</h2>
    <p>Imagine you have to write a research paper on the Civil War. Normally, you would have 4 or 5 books, a half dozen journal articles, a few websites, and maybe even some primary sources. Rather than writing out notecards and a cumbersome number system to remember where each individual fact you have came from, SciSci keeps track of all of that by tags. So, everything you have about railroads in the South might get tagged with #south_railroads. Then, you can search based on tags, so it doesn't matter whether your information came from a book, a website, or a journal, it's all equal when you need to use it!</p>
  </div>

  <div class="col-lg-6">
    <h2>My Mission</h2>
    <p>Right now, SciSci is in beta. That means that most of the fundamental functionality is there, but there may be some glitches along the way. I will be actively working to make things better for everyone involved. If you have any comments or suggestions, please send them to jacob.wesley.smith@gmail.com and I will try and update it immediately! I really am working to make this a great app, so please don't hesitate to contact me with concerns, bug reports, or suggestions!</p>

    <div class="row">
      <div class="col-lg-6 offset2">
        <br>
        <br> 
        <h4>Thanks for checking out SciSci!</h4>
      </div>
        <img class="centered" id="profile" src="/img/profile.jpeg" height="150px"></img>
    </div><!--col-lg-6-offset2-->
  </div><!--col-lg-6-->
</div> <!--row-fluid-->
