<ul class="list-group span8">
    <% @source.note.each do |note| %>
      <li class="list-group-item">
      <%= note.quote %>
      <br>
      <%= "Comments: #{note.comments} <br>" if note.comments != nil %>
      <%= "Page: #{note.page} <br>" if note.page != '' %>
      <%= "Tags: " + tag_links(note) if note.tags != '' %>
      </li> 
    <% end %>
    </ul>
<%# end %>

